extends ../layout

block content
	div#about-box
		img#naica-about-logo(src="/images/logo_red_no_text.png")
		div#naica-description
			p.description-title We are NAICA!
			p.description-text The North American Intercollegiate Chinese Association is a non-profit organization dedicated to building a stronger Chinese American community on the intercollegiate level.
			p.description-text NAICA servers the Chinese American community by bridging the connection between fellow Chinese Student Associations across North America in order to build a national network of people who share the same passion of a stronger Chinese community. In process of reaching this goal, we empower young Chinese Americans by fostering cultural awareness, leadership developing and providing them with the resources needed to succeed in their respective communities along the way. We believe that by working together we can pave the road to a stronger Chinese American community.
			//p.description-header Our History
			//p.description-text Justo eros quisque amet suscipit facilisis, orci donec pede congue, nascetur est nulla, ligula sagittis cras iste dictum, eges-tas sed ac in aliquam. Accumsan interdum ipsum, posuere aliquet. Donec nibh dignissim pretium ante elit nam, eget eros ipsum et mattis mi, eros magna, vulputate sed purus nulla congue integer amet. Ut neque nulla donec amet nunc in, massa congue, mauris eget. Sollicitudin nam dignissim class laoreet faucibus vestibulum.
	div#director-container
		p.description-title Our Directors & Staff
		div.director-row
			!{director1}
			!{director2}
			!{director3}
			!{director4}
			!{director5}

